.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.cards div {
  align-items: center;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 0 0 8px 3px #979797;
  display: flex;
  flex-direction: column;
  height: 180px;
  margin: 10px 5px;
  width: 150px;
}

.cards div img {
  border-radius: 10px 10px 70px 0;
  height: 130px;
  width: 100%;
  overflow: hidden;
}

.cards div p {
  display: flex;
  margin-top: 10px;
  width: 120px;
  box-shadow: inset 0 0 14px 19px #ffffffa3;
  border-radius: 5px;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.cards dir {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 20px;
  width: 100%;
}

.cards dir button {
  border: none;
  height: 40px;
  margin: 4px;
  overflow: hidden;
  width: 90px;
}
